html {
    text-align:center;
    /* overflow-x:none; #d5f5ef*/
    background-image: url("./navBar.svg"),linear-gradient(170deg,#def6e9 0%,#95cfc4 100%);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll, fixed;
    width: 100%;
    min-height:100%;
    display:flex;
    margin:0;
    padding:0;
}

